
<!DOCTYPE html>
<html lang="en">
<head>
    <title>login登录动效 www.bootstrapmb.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
<form method="get" action="LoginPage">
<div class="main">
    <div class="login">
        <form method="post" action="LoginPage">
        <div class="log-con">
            <span>登录</span>
            <input type="text" class="name" placeholder="请输入用户名"/>
            <input type="text" class="password" placeholder="请输入密码"/>
            <input type="text" class="code" placeholder="请输入验证码"/>
            <input type="button" id="code" onclick="change();"/>
            <a>立即登录</a>
        </div>
        </form>
    </div>
</div>
<div class="copyright">
    <a>版权所有　© bootstrapmb.com</a>
</div>
</form>
<script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/three.js/r63/three.min.js"></script>
<script src="./js/login.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
